<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @form.first %>
</p>

<p>
  <b>Name:</b>
  <%= @form.name %>
</p>

<p>
  <b>Second:</b>
  <%= @form.second %>
</p>

<p>
  <b>Name:</b>
  <%= @form.name %>
</p>

<p>
  <b>Age:</b>
  <%= @form.age %>
</p>

<p>
  <b>Training:</b>
  <%= @form.training %>
</p>

<p>
  <b>Time:</b>
  <%= @form.time %>
</p>

<p>
  <b>Activity:</b>
  <%= @form.activity %>
</p>

<p>
  <b>History:</b>
  <%= @form.history %>
</p>

<p>
  <b>Goals:</b>
  <%= @form.goals %>
</p>


<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
